@{
    ViewData["Title"] = "contactus Page";
}

<div id="app">
    <contactus-component></contactus-component>
</div>

@section scripts{
    <script src="@Url.Content("~/bundle/Home.js")"></script>


}
 
